@font-face {
    font-family: "Black Chancery";
    src: url("fonts/BLKCHCRY.TTF") format("truetype");
}

body {
    font-family: Arial, sans-serif;
    background-color: #FF3B30; /* baggrundfarve */
    color: #000; /* Sort tekst */
    text-align: center;
    margin: 0;
    padding: 0;
}

.felix {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.felix img  {
    position: fixed;
    width: 500px;
    padding-top: 100px;
}


h2 {
    font-family: "Black Chancery", Arial, sans-serif;
    font-size: 126px;
    color: #2E2E2E; /* h2 farve */
    margin: 0;
    text-align: left;
    padding-left: 10%;
    margin-top: 20px;
    padding-top: 40px;
}

.starthelsingor h2{
    padding-top: 0px;
}

h3 {
    font-family: "Black Chancery", Arial, sans-serif;
    font-size: 63px;
    color: #2E2E2E; /* h2 farve */
    margin-top: 0;
    text-align: left;
    padding-left: 13%;
}

/* billede størrelser */
img {
    width: 80%;
    height: auto;
    margin: 20px 0;
    display: flex;
    padding-left: 100px;
}

.starthelsingor img {
    height: auto;
    margin: 20px 0;
}

.kopenhagen h2{
    padding-top: 400px;
}


p {
    font-size: 26px;
    color: #2E2E2E; /* h2 farve */
    margin-top: 0;
    text-align: left;
    padding-left: 10%;
    line-height: 2.5;
}

.video img {
    width: 90%; 
    max-width: 800px; 
    height: auto;
    z-index: -1;
    position: relative;
}

.video2 video {
    width: 90%; 
    max-width: 1000px; 
    height: auto;
}

.krager img{
    width: 400px;
    position: absolute;
}

.krager {
    position: relative;
    z-index: -1;
}

#kr1 {

    left: 0;
    bottom: 5px;

}

#kr3 {
    right: 0; /* Placerer kr3 i højre side */
    top: 10px;

}

#kr4 {
    right: 0; /* Placerer kr4 i højre side */
    bottom: 30px;
}

.video img {
    
    margin-bottom: 200px;
} 

.pest p {
    margin-bottom:  200px;
}

.starthelsingor p { 
    margin-bottom: 100px;   
}

